src/**
.vscode
node_modules
package-lock.json
tsconfig.json
webpack.config.js
eslint.config.mjs
.prettier*
.gitignore
run/**
.venv/**
test/**
.github/**
.husky/**
coverage/**
**/*.map
.vscode-test.mjs
.env